.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

.button {
  color: var(--primary900);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-bottom: 4px solid var(--primary900);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary50);
  font-size: 1.5rem;
  transition: background-color 0.3s;
  text-align: left;
  gap: 10px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 900px;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.childrenText {
  font-size: 1rem;
  color: var(--neutral700);
  padding: 15px;
  text-align: justify;
  line-height: 1.5;
}

/* Responsividade */

/* Classes para controle de estado */
.collapsed {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.expanded {
  max-height: 900px;
  opacity: 1;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease-out;
}
@media (max-width: 600px) {
  .button {
    font-size: 1rem;
    font-weight: 600;
  }

  .childrenText {
    font-size: 0.875rem;
  }
}
