/* Collapse.module.css */
.container {
  /* border: 1px solid #ddd; Ajuste se necessário */
  border-radius: 8px;
  margin-bottom: 8px;
  overflow: hidden;
}

.button {
  width: 100%;
  min-width: 700px;
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
  background-color: var(--neutral50); /* Cor de fundo da pergunta */
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--neutral700);
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

.content {
  background-color: var(--neutral50); /* Cor de fundo da resposta */
  padding: 1rem 2rem;
  font-size: 14px;
  overflow: hidden;
  line-height: 1.5;
  color: var(--);
}

.childrenText {
  margin-top: 8px;
}
