.title {
  margin: 0;
  font-weight: bold;
}

.title1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.title2 {
  font-size: 2rem;
  line-height: 1.2;
}

.title3 {
  font-size: 1rem;
  line-height: 1.2;
}

@media (max-width: 3840px) {
  .title1 {
    font-size: 4rem;
    line-height: 1.2;
  }

  .title2 {
    font-size: 3.2rem;
    line-height: 1.2;
  }

  .title3 {
    font-size: 2rem;
    line-height: 1.2;
  }
}

@media (max-width: 2000px) {
  .title1 {
    font-size: 2.8rem;
    line-height: 1.2;
  }

  .title2 {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .title3 {
    font-size: 2rem;
    line-height: 1.2;
  }
}

@media (max-width: 1024px) {
  .title1 {
    font-size: 2.2rem;
    line-height: 1.3;
  }

  .title2 {
    font-size: 1.8rem;
    line-height: 1.3;
  }

  .title3 {
    font-size: 0.95rem;
    line-height: 1.3;
  }
}

@media (max-width: 768px) {
  .title1 {
    font-size: 1.8rem;
    line-height: 1.3;
  }

  .title2 {
    font-size: 1.4rem;
    line-height: 1.3;
  }

  .title3 {
    font-size: 0.85rem;
    line-height: 1.3;
  }
}

@media (max-width: 480px) {
  .title1 {
    font-size: 1.5rem;
    line-height: 1.3;
  }

  .title2 {
    font-size: 1.2rem;
    line-height: 1.3;
  }

  .title3 {
    font-size: 0.8rem;
    line-height: 1.3;
  }
}
