.fullScreenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
}

.textWrapper {
  text-align: center;
  max-width: 800px;
}

.heading {
  font-size: 2rem;
  color: var(--primary900);
  font-weight: 600;
  line-height: 1.4;
}

@media (min-width: 3840px) {
  .textWrapper {
    max-width: 1600px; /* Ajuste para ocupar mais espaço em 4K */
  }

  .heading {
    font-size: 4rem; /* Aumenta a fonte para melhor legibilidade */
  }
}

@media (max-width: 1024px) {
  .heading {
    font-size: 2rem;
  }

  .fullScreenContainer {
    /* padding: 2rem 0; */
  }
}

@media (max-width: 826px) {
  .heading {
    font-size: 2rem;
  }

  .fullScreenContainer {
    /* padding: 2rem; */
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 1.5rem;
  }

  .fullScreenContainer {
    /* padding: 2rem; */
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1rem;
  }

  .textWrapper {
    max-width: 100%;
  }

  .fullScreenContainer {
    /* padding: 2rem; */
  }
}
