.fullScreenContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--neutral100);
}

.textWrapper {
  text-align: center;
  max-width: 800px;
}

.heading {
  font-size: 2rem;
  color: var(--primary500);
  font-weight: 600;
  line-height: 1.4;
}

@media (max-width: 1024px) {
  .heading {
    font-size: 1.2rem;
  }

  .fullScreenContainer {
    padding: 1rem;
  }
}

@media (max-width: 826px) {
  .heading {
    font-size: 1rem;
  }

  .fullScreenContainer {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 1.9rem;
  }

  .fullScreenContainer {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }

  .textWrapper {
    max-width: 90%;
  }

  .fullScreenContainer {
    padding: 0.5rem;
  }
}
