.container_footer {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--neutral0);
}

.row_footer_one,
.row_footer_tree {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.row_footer_one {
  background-color: var(--neutral900);
  align-items: flex-start;
  color: var(--neutral0);
}

.row_footer_tree {
  background-color: var(--primary500);
  align-items: center;
  color: var(--neutral0);
}

.row_footer_two {
  background-color: var(--neutral900);
  width: 100%;
  padding: 2rem;
  color: var(--neutral500);
  text-align: center;
  font-size: 0.875rem;
}

.container_police,
.container_lion {
  max-width: 992px;
  margin: 0 auto;
}

.container_police ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.container_police li {
  display: inline;
}

.container_police a {
  color: var(--neutral500);
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
  font-size: 0.875rem;
}

.container_police a:hover {
  color: var(--primary200);
  transform: scale(1.05);
}

.row_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  align-items: flex-start;
}

.logo_footer {
  display: flex;
  justify-content: center;
}

.footer_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer_links a {
  color: var(--neutral0);
  transition: transform 0.3s ease, color 0.3s;
  text-decoration: none;
}

.footer_links a:hover {
  transform: scale(1.1);
  color: var(--primary500);
}

.footer_links h6 {
  min-height: 3.5rem;
  font-size: 1.125rem;
}

.column1 {
  display: flex;
  margin-bottom: 1rem;
  gap: 1.5rem;
}

.footer_links svg {
  transition: transform 0.3s ease, fill 0.3s;
  fill: var(--primary900);
}

.footer_links svg:hover {
  transform: scale(1.1);
  fill: var(--primary500);
}

.footer_links svg path {
  transition: fill 0.3s;
}

.footer_links .facebook-icon:hover path {
  fill: blue;
}

/* Responsividade */

/* Telas grandes */
@media (min-width: 1200px) {
  .container_footer {
    justify-content: space-between;
  }

  .footer_links {
    flex-direction: column;
  }

  .container_police ul {
    gap: 4rem;
  }
}

/* Notebooks */
@media (min-width: 992px) and (max-width: 1199px) {
  .container_police ul {
    gap: 3rem;
  }

  .footer_links h6 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .row_footer {
    flex-direction: column;
    align-items: center;
  }

  .container_police ul {
    gap: 2rem;
  }

  .footer_links {
    align-items: center;
  }

  .footer_links h6 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
}

/* Celulares */
@media (max-width: 767px) {
  .row_footer {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }

  .container_police ul {
    gap: 1rem;
  }

  .footer_links {
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
  }

  .footer_links h6 {
    font-size: 0.875rem;
    min-height: 0;
    margin-bottom: 1rem;
  }
}
